@media (min-width: 601px) {
 label { color: #337ab7; }
 .labeled {
    font-size: large;
 }
#content {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
#image_banner {

max-width:320px; 
min-width:120px;
}

.image_button {

max-width:135px; 
max-height: 135px;
min-height: 90px
min-width:90px;

}
.button_type {
    max-width:450px; 
   min-width:110px;
   max-height: 140px;
}
.items_form_single {
    margin: 10[x] 10px 10px 10px;
    display: block;
    text-align: center;
    max-width: 840px;
 }
p {
     vertical-align: sub;
}
div {
    margin: 0 auto;
    padding: 1px;
    display: block;
    text-align: center;
    max-width: 840px;

}

.button_pay {
    margin:auto;
    display: block;
    min-width: 400px;
    min-height: 140px;
    max-height: 480px;
    max-width: 200px;
}
.p_text {
    vertical-align: bottom;
     margin: 0 auto;
    padding: 10px;
      width: 95%;
}

}
  



  @media (max-width: 600px) {

    label { color: #337ab7; }
    #content {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}
    #image_banner {
min-width:110px; 
min-height:52px;
max-width:135px; 
max-height: 65px;
}

  div {
    margin: 0 auto;
    padding: 1px;
    display: block;
    text-align: center;
    max-width: 840px;
    

}
.p_text {
    vertical-align: bottom;
     margin: 0 auto;
    padding: 10px;
      width: 95%;
}

    #content {
    width: 95%;
    margin: 0 auto;
    padding: 10px;
}
.items_form_single {
    margin: 8[x] 8px 8px 8px;
    display: block;
    text-align: center;
    max-width: 840px;
 }
 .button_pay {
    margin:auto;
    display: block;
    padding: 16px;
    height: 120px !important;
    width: 260px !important;
}
#image_button {

max-width:90px; 
min-width:80px;

}


}


